.ele-search .el-form-item {
  float: left;
  margin-right: 10px;
}

.ele-search .el-form-item .el-form-item__label {
  float: left;
  width: auto !important;
  padding: 0 5px;
}

.ele-search .el-form-item__content {
  float: left;
  width: auto;
}

.ele-search .el-form-item .el-input {
  width: 128px !important;
}

.ele-search .el-form-item .el-input input[type="text"] {
  width: 128px;
  padding-right: 0;
}

.ele-search .el-form-item .el-input input.el-input__inner {
  height: 36px;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 128px;
}

.el-range-editor.el-input__inner[data-v-596779f5] {
  height: 36px;
}

.el-date-editor .el-range-separator {
  line-height: 27px;
}
